{% extends '@FrameworkAdmin/components/form.html.twig' %}

{% block box_header %}
    <a href="{{ path(section.list_path) }}" class="btn btn-xs btn-github"><i class="fa fa-list"></i> {{ 'btn.cms.layout.list' | trans }}</a>
    {% if section.add_path != '' %}
        <a href="{{ path(section.add_path) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> {{ 'btn.cms.layout.create' | trans }}</a>
    {% endif %}
{% endblock %}
