{% extends '@Cms/Cms/cms-layout.html.twig' %}

{% block box_header %}
    {% if entity.id > 0 %}
        <a href="{{ site_url }}/cms/{{ entity.column.row.layout.id }}" target="_blank" class="btn btn-xs btn-warning"><i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'btn.preview_layout' | trans }}</a>
        <a href="#modal-move" data-toggle="modal" data-target="#modal-move" class="btn btn-xs btn-info"><i class="fa fa-arrows-alt"></i> {{ 'btn.cms.widget.move_to_row' | trans }}</a>
    {% endif %}
    <a href="{{ path('adm_cms_layout_view', {id: entity.column.row.idLayout}) }}" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> {{ 'btn.cms.widget.list' | trans }}</a>
    {% if entity.id > 0 %}
        <a href="{{ path('adm_cms_layout_add_widget', {column: entity.column.id}) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> {{ 'btn.cms.widget.create' | trans }}</a>
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_widget(form.widget) }}
        {% if form.content is defined %}
        {{ form_widget(form.content) }}
        {% endif %}

        <div class="box-footer">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" class="btn btn-success" value="{{ 'btn.save' | trans }}">
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    {% if id > 0 and upload_type != '' %}
        {% include '@FrameworkAdmin/components/upload-images.html.twig' with { type: upload_type } %}
    {% endif %}

    <div class="modal fade" id="modal-move" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Move widget to different column</h4>
                </div>
                <div class="modal-body">
                    {% for row in layout.rows %}
                        <fieldset>
                            <legend>{{ row.title }}</legend>
                            <div class="row">
                                {% for col in row.columns %}
                                <div class="col-xs-{{ 12 / (row.columns | length) }}">
                                    <div class="bg-gray disabled" style="padding: 5px;">
                                        {% if col.id != entity.column.id %}
                                            <form action="{{ path('adm_cms_layout_widget_move') }}" method="post">
                                                <input type="hidden" name="column_id" value="{{ col.id }}" />
                                                <input type="hidden" name="widget_id" value="{{ entity.id }}" />
                                                <button class="btn btn-success btn-xs"><i class="fa fa-bullseye"></i> Move here</button>
                                            </form>
                                        {% else %}
                                        <button class="btn btn-default disabled btn-xs">From here</button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
      $( function() {
        let dateFormat = "yy-mm-dd";
        let from = $("#cms_layout_container_form_widget_date_start")
            .datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 3,
              dateFormat: dateFormat
            })
            .on("change", function() {
              to.datepicker("option", "minDate", getDate(this));
            });
        $( "#cms_layout_container_form_widget_date_stop" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            dateFormat: dateFormat
        })
        .on("change", function() {
            from.datepicker("option", "maxDate", getDate(this));
        });

        function getDate(element) {
          let date;
          try {
            date = $.datepicker.parseDate(dateFormat, element.value);
          } catch( error ) {
            date = null;
          }

          return date;
        }
      } );
    </script>
{% endblock %}
