{% extends '@Cms/Cms/cms-layout.html.twig' %}

{% block box_header %}
    {% if entity is defined and entity.id is defined and entity.id > 0 %}
        <a href="{{ path('adm_cms_layout_duplicate', {id: entity.id}) }}" class="btn btn-xs btn-default"><i class="fa fa-copy"></i> {{ 'btn.cms.layout.duplicate' | trans }}</a>
        <a href="{{ path('adm_cms_layout_view', {id: entity.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> {{ 'btn.view_widgets' | trans }}</a>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <form class="form-horizontal" method="post">

        <div class="col-xs-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Layout settings</h3>
                </div>
                <div class="panel-body">
                    <input type="hidden" name="id" id="form_id" value="">
                    <div class="form-group">
                        <label for="form_page_title" class="col-sm-3 control-label">Layout Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="form_page_title" class="form-control" placeholder="title" name="title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_page_url" class="col-sm-3 control-label">Url</label>
                        <div class="col-sm-9">
                            <input type="text" id="form_page_url" class="form-control" placeholder="url" name="url" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">SEO</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="form_page_seo_title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" id="form_page_seo_title" class="form-control" placeholder="SEO Title" name="seo_title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_page_seo_keywords" class="col-sm-2 control-label">Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" id="form_page_seo_keywords" class="form-control" placeholder="SEO Keywords" name="seo_keywords" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_page_seo_description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea name="seo_description" id="form_page_seo_description" class="form-control" placeholder="SEO Description" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="grid" class="grid_sortable"></div>

        <div class="col-xs-12 col-sm-6">
            <button class="btn btn-sm btn-success" name="save"><i class="fa fa-save"></i> Save</button>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <a href="#" id="row-add" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Add Row</a>
        </div>

    </form>

    <script id="row-tpl" type="text/template">
        <div class="col-xs-12 col-sm-12" id="row-{id}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="hidden" name="rows[{id}][id]" value="{id}" id="row-id-{id}">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-xs-9"><a href="#" class="remove-row text-danger" data-id="{id}"><i class="fa fa-trash"></i></a> Row: {title}</div>
                            <div class="col-xs-3 text-right">
                                <a href="#" data-row-id="{id}" class="add-column pull-right btn btn-xs btn-primary">Add column</a>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Row title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rows[{id}][title]" value="{title}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Row Parent</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rows[{id}][id_parent]" value="{id_parent}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Row type</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rows[{id}][type]" value="{type}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Row CSS class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rows[{id}][css_class]" value="{css_class}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Row CSS id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rows[{id}][css_id]" value="{css_id}" />
                        </div>
                    </div>
                    <div id="columns-{id}"></div>
                </div>
            </div>
        </div>
    </script>

    <script id="col-tpl" type="text/template">
        <div class="form-group" id="column-{col}">
            <hr class="hr">
            <div class="col-sm-12">
                <label class="control-label">Column</label>
            </div>
            <div class="col-sm-12">
                <div>
                        {#<input type="hidden" name="rows[{row}][columns][{col}][id]" id="col-id-{col}" value="{col}">#}
                        {#<input type="text" name="rows[{row}][columns][{col}][attr_class]" class="form-control" value="{attr_class}" />#}
                        {#<div class="input-group-addon"><a href="#" class="remove-column" data-id="{col}"><i class="fa fa-trash text-danger"></i></a></div>#}
                    <label class="col-sm-3 control-label">Column title</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="rows[{row}][columns][{col}][title]" value="{title}" />
                            <div class="input-group-addon"><a href="#" class="remove-column" data-id="{col}"><i class="fa fa-trash text-danger"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <label class="col-sm-3 control-label">Inherit Column</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="rows[{row}][columns][{col}][id_parent]" value="{id_parent}" />
                    </div>
                </div>
                <div class="">
                    <label class="col-sm-3 control-label">Column class</label>
                    <div class="col-sm-9">
                        <input type="hidden" name="rows[{row}][columns][{col}][id]" id="col-id-{col}" value="{col}">
                        <input type="text" name="rows[{row}][columns][{col}][attr_class]" class="form-control" value="{attr_class}" />
                    </div>
                </div>
            </div>
        </div>
    </script>

{% endblock %}

{% block js %}
    <script>
      {#let sortActionUrl = '{{ path('adm_cms_layout_row_sort') }}';#}
      let sortActionUrl = '';
      let formData = {{ formData | json_encode | raw }};
    </script>
    {{ parent() }}
{% endblock %}
