{% extends '@Cms/Cms/cms-layout.html.twig' %}

{% import '@FrameworkAdmin/macros/table-btn-macros.html.twig' as tbl %}

{% block box_header %}
    <a href="{{ site_url }}/cms/{{ entity.id }}" target="_blank" class="btn btn-xs btn-warning"><i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'btn.preview_layout' | trans }}</a>
    <a href="{{ path('adm_cms_layout_edit', {id: entity.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'btn.edit_layout' | trans }}</a>
    {{ parent() }}
{% endblock %}

{% block body %}

    {% for rows in entity.rows %}

        <div class="row">
            <div class="col-sm-12">
                <h4>{{ rows.title }}</h4>
            </div>
            {% for col in rows.columns %}
            <div class="col-sm-{{ 12 / rows.columns | length | round(0, 'floor') }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="panel-title">Column: <b>[#{{ col.id }}] {{ col.title }}</b></h3>
                            </div>
                            {% if col.idParent < 1 %}
                            <div class="col-sm-6 text-right">
                                <a href="{{ path('adm_cms_layout_add_widget', {column: col.id}) }}" class="btn btn-xs btn-info"><i class="fa fa-plus"></i> {{ 'btn.cms.widget.create' | trans }}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if col.idParent > 0 %}
                        <p>This column inherit column: {{ col.idParent }}</p>
                        {% else %}
                        <table class="table table-bordered table-condensed">
                            <tbody class="sortable">
                                {% for wid in col.widgets %}
                                    {% if wid.status > 0 %}
                                    <tr id="row-{{ wid.id }}" class="droptrue">
                                        <td width="130">
                                            {{ tbl.edit(path('adm_cms_layout_edit_widget', {id: wid.id})) }}
                                            {{ tbl.delete(wid.id, path(section.delete_path)) }}
                                        </td>
                                        <td width="40" align="right">{{ wid.id }}</td>
                                        <td class="handle"><a href="{{ path('adm_cms_layout_edit_widget', {id: wid.id}) }}">{{ wid.title }}</a></td>
                                        <td width="30" align="center"><i class="fa fa-clock-o{% if wid.isChangeStatus == false %} disabled{% endif %}"></i></td>
                                        {{ statusToggle(wid, path('adm_cms_layout_widget_status')) }}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    {% endfor %}

{% endblock %}

{% block js %}
    <script>
        let sortActionUrl = '{{ path('adm_cms_layout_widget_sort') }}';
    </script>
    {{ parent() }}
{% endblock %}
