<li class="header">CMS</li>
<li class="{% if match('cms', route) and not match('template', route) %}active{% endif %}">
    <a href="{{ path('adm_cms_layout') }}">
        <i class="fa fa-diamond" aria-hidden="true"></i> <span>{{ 'main_navigation.cms' | trans }}</span>
    </a>
</li>
<li class="{% if match('template', route) %}active{% endif %}">
    <a href="{{ path('adm_cms_template') }}">
        <i class="fa fa-diamond" aria-hidden="true"></i> <span>{{ 'main_navigation.cms_templates' | trans }}</span>
    </a>
</li>
